<p id="notice"><%= notice %></p>

<h1 class="post_title">お勧めのラーメン屋さん</h1>
<p class="post_subtitle">RECOMEND</p>

<div class="post_table">
    <% @member_posts.each do |member_post| %>
        <div class="images_image">
            <div>
              <%= image_tag member_post.image.to_s %>
            </div>
            <div class="image_text">
                <div class="image_title"><%= member_post.title %></div>
                <div class="image_title"><%= member_post.place %></div>
                <div class="twitter"><%= link_to 'このお店の詳細を見る', "" %></div>
                <div class="twitter"><%= link_to 'Twitterでこのお店をシェアする', "https://twitter.com/intent/tweet?text=#{ member_post.place }の#{ member_post.title }をみんなに広めよう! ホームページはこちら#{ member_post.ramen_type }", title: 'Twitter', target: '_blank' %></div>
            </div>
        </div>
    <% end %>
</div>

<%= paginate @member_posts %>
<%= render "common/footer" %>