<%= form_with(model: member_post, local: true) do |form| %>
  <% if member_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member_post.errors.count, "error") %> prohibited this member_post from being saved:</h2>

      <ul>
        <% member_post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :店名, class: "form_content_label" %>
    <%= form.text_field :title, class: "form_content_text_field" %>
  </div>

  <div class="field">
    <%= form.label :お店の場所, class: "form_content_label" %>
    <%= form.text_field :place, class: "form_content_text_field" %>
  </div>

  <div class="field">
    <%= form.label :image, class: "form_content_label"  %>
    <%=form.label "画像をアップロード" , class: "new_post_label"%><%= form.file_field :image , class: "new_post_image" %>
  </div>

  <div class="field">
  <%= form.label :お店のページのURL, class: "form_content_label" %>
  <%= form.text_field :ramen_type,  class: "form_content_text_field" %>
</div>


  <div class="field">
    <%= form.label :追加の画像やコメントなど, class: "form_content_label" %>
    <%= form.rich_text_area :content %>
  </div>

  <div class="field">
    <%= form.label :mapの追加, class: "form_content_label" %>

    <input id="address" type="textbox" value="GeekSalon">
<input type="button" value="Encode" onclick="codeAddress()">
<div id="display"></div>
    <div id="map"></div>
  </div>

  <div class="actions">
    <%= form.submit :投稿をする, class: "new_post_button" %>
  </div>
  
  <script>
  let map
  let geocoder
  var infoWindow;
  const display = document.getElementById('display')
  
  function initMap(){
    var target = document.getElementById('target');
    var centerp = {lat: 37.67229496806523, lng: 137.88838989062504};
  
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 40.7828, lng:-73.9653},
      zoom: 12,
    });
  
    map = new google.maps.Map(target, {
      center: centerp,
      zoom: 2,
    });
  }
  
  function codeAddress(){
    let inputAddress = document.getElementById('address').value;
  
    geocoder.geocode( { 'address': inputAddress}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
        display.textContent = "検索結果：" + results[ 0 ].geometry.location
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });   
  }
  </script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfCmlyL2lyPkB-fTxtmVP_q0VEpEtGXW4&language=ja&region=JP&callback=initMap" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<% end %>
