<div class="new_inner">
    <h1 class ="new_post_title">お勧めを新規投稿する</h1>

    <%= render 'form', member_post: @member_post %>
</div>

<%= render "common/footer" %>

<script>
$('#review_star').raty({
  size :36,
  starOff: '<%= asset_path('../../../assets/images/star-off.png') %>',
  starOn: '<%= asset_path('../../../assets/images/star-on.png') %>',
  starHalf: '<%= asset_path('../../../assets/images/star-half.png') %>',
  scoreName: 'post[evaluation]',
  half: true,
})
</script>