<p id="notice"><%= notice %></p>
<div class="form_inner">
<h1 class="post_title">お勧めのラーメン屋さん</h1>
<p class="post_subtitle">RECOMEND</p>

<table class="post_table">
    <tr>
      <div class="show_image">
        <%= image_tag @member_post.image.to_s %>
      </div>
    </tr>
  <div class="show_content">
    <div class="show_content">
      お店の名前：<%= @member_post.title %>
  </div>
  <tr>
    <td class="show_content">
      お店の場所：<%= @member_post.place %>
    </td>
  </tr>
  <tr>
  <td class="show_content">
    コメント：<%= @member_post.content %>
  </td>
</tr>
</div>
</table>
<hr>
<div id="map"></div>
</div>
</div>
<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 8
        });
    }

    var marker = new google.maps.Marker({
  position: {lat: 35.665498, lng: 139.75964},
  map: map
});
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=(AIzaSyAPgjSx3d58VcLBYoj6SKCuKJbnmr__SeM)&callback=initMap"></script>
<%= render "common/footer" %>
