<p id="notice"><%= notice %></p>
<div class="form_inner">
<h1 class="post_title">お勧めのラーメン屋さん</h1>
<p class="post_subtitle">RECOMEND</p>

<div class="show_wrap">
<div class="show_box">
  <div class="show_image">
    <%= image_tag @member_post.image.to_s %>
  </div>
  <div class="show_comment">
    <div class="show_content">
      お店の名前：<%= @member_post.title %>
    </div>
    <div class="show_content">
      お店の場所：<%= @member_post.place %>
    </div>
    <div class="show_content">
    コメント：<%= @member_post.content %>
  </div>
  <div class="show_content">
  lat：<%= @member_post.latitude %>
</div>
<div class="show_content">
lon：<%= @member_post.longitude %>
</div>
  <div class="show_content">
  評価：<%= @member_post.content %>
  </div>
</div>
</div>
<hr>
<div id="map_canvas" style="width:100%; height:500px;"></div>
</div>
</div>

<script>
var map;
var marker = [];
var infoWindow = [];
// マーカーに設定するタイトル・緯度・経度・内容
var markerData = [ {
  title: <%= @member_post.title %>,
  lat: <%= @member_post.latitude %>,
  lng: <%= @member_post.longitude %>,
  content: '<%= @member_post.title %><br><img src="https://image-ramen-app-main.s3-ap-northeast-1.amazonaws.com/uploads/member/post/image/27/%E3%83%8D%E3%82%AD%E3%82%99%E3%83%A9%E3%83%BC%E3%83%A1%E3%83%B3.JPG" class="pop_image"><br><div class="test"><a href="https://ramen-app-main.herokuapp.com/member/posts/27" target="_blank">投稿ページへ</a></div>'
}];	

  function initMap() {
    // 緯度経度のデータ作成
    var mapLatLng = new google.maps.LatLng({lat: 35.732981, lng: 139.727423});
    // 地図の基本設定
    map = new google.maps.Map(document.getElementById('map_canvas'), {
      center: mapLatLng, // 地図の中心座標を指定
      zoom: 10,
      mapTypeId: google.maps.MapTypeId.ROADMAP // マップの表示種別選択 (ROADMAP・SATELLITE・TERRAIN・HYBRIDから選択)
    });
    
    // マーカー毎の処理
    for (var i = 0; i < markerData.length; i++) {
      // 緯度経度のデータを作成
      markerLatLng = new google.maps.LatLng({lat: markerData[i]['lat'], lng: markerData[i]['lng']});
      marker[i] = new google.maps.Marker({
        position: markerLatLng, // マーカーを立てる位置を指定
        map: map, // マーカーを立てる地図を指定
        title: markerData[i]['title'] // ツールヒント
      });
      
      // 吹き出しの設定
      infoWindow[i] = new google.maps.InfoWindow({
        // 吹き出しに表示する内容を設定する
        content: markerData[i]['content']
      });
      
      // マーカーにクリックイベントを追加
      markerEvent(i);
    }
  }
   
  // マーカーにクリックイベントを追加
  function markerEvent(i) {
      marker[i].addListener('click', function() {
        // 吹き出しの表示
        infoWindow[i].open(map, marker[i]);
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfCmlyL2lyPkB-fTxtmVP_q0VEpEtGXW4&language=ja&region=JP&callback=initMap" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
# <script src="../../../javascript/packs/map.js"></script>
<%= render "common/footer" %>
