<p id="notice"><%= notice %></p>
<div class="form_inner">
<h1 class="post_title">お勧めのラーメン屋さん</h1>
<p class="post_subtitle">RECOMEND</p>

<table class="post_table">
  <thead>
    <tr>
      <th class="show_image">
        <%= image_tag @member_post.image.to_s %>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td class="show_content">
      お店の名前：<%= @member_post.title %>
    </td>
  </tr>
  <tr>
    <td class="show_content">
      お店の場所：<%= @member_post.place %>
    </td>
  </tr>
  <tr>
  <td class="show_content">
    コメント：<%= @member_post.content %>
  </td>
</tr>
  </tbody>
</table>
<hr>
<div id="map"></div>
</div>
</div>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7828, lng:-73.9653},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfCmlyL2lyPkB-fTxtmVP_q0VEpEtGXW4&language=ja&region=JP&callback=initMap" async defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
# <script src="../../../javascript/packs/map.js"></script>
<%= render "common/footer" %>
